/* BASE STYLES for DALTON.NEWBEND.ART */
:root {
    --clr-brown: #35230f;
    --clr-cream: #e0dbd1;
    --clr-green: #1a450a;
}
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    word-spacing: 1.4px;
    font-family: monospace;
    color: var(--clr-brown);
    background-color: var(--clr-cream);
    min-height: 100vh;
    font-size: 20px;
}

body section {
    margin: 0;
    padding: 60px;
}
.img{
    width: 50px;
}
a:special {
    color: var(--clr-brown);
}
a:link {
    color: var(--clr-brown);
}
a:visited {
    color: var(--clr-brown);
}
nav{
    background: var(--clr-cream);
    height: 80px;
    width 100%;
}
label.logo{
    color: var(--clr-brown);
    font-size: 25px;
    line-height: 80px;
    padding: 0 30px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 0px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    font-weight: bold;
    text-align: right;
    padding-right: 30px;
}
nav ul li a{
    color: var(--clr-brown)
    font-size: 18px;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 105%;
    z-index: 999;
    background-color: var(--clr-cream);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}
.menu-button{
    fill: var(--clr-brown);
    size: 25px;
    display: none;
}
.menu-exit{
    fill:#35230F;
}
.img-banner{
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* ABOUT */\

.wrapper{
	display: flex;
	flex-flow: row wrap;
	text-align: right:
}
.wrapper > * {
	padding: 10px;
	margin: 10px;
	flex: 1 100%;
	border-radius: 10px;
}
.bio{
	width: 100%;
	text-align: right;
	padding-left: 750px;
	padding-right: 60px;
}
.container{
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: center;

}

/* BUTTONS */

.buttons{
  	border: 1;
  	font-family: monospace;
	border-color: #35230F;
  	line-height: 2.75;
 	padding: 0 20px;
  	font-size: 1.2rem;
  	text-align: center;
  	color:#35230F;
 	border-radius: 50px;
  	background-color: #E0DBD1;
	transition: 0.25s;
}
.button-box-a{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding-right: 25px;
	padding-bottom: 15px;

}
.button-box-b{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding-right: 25px;
	padding-bottom: 15px;

}
.buttons:hover {
  	color: #E0DBD1;
	border: 1;
 	background-color: #1a450a;
	border-color: #1a450a
}
.buttons:active {
  	color: #35230F;
   	background-color: #E0DBD1;
}

/* SMALLER SCREEN */
@media(max-width: 1050px){
    .hideOnMobile{
        display: none;
}
    .menu-button{
        display: block;
}
body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    word-spacing: 1.4px;
    color: var(--clr-brown);
    background-color: var(--clr-cream);
    min-height: 100vh;
    font-size: 20px;
}

body section {
    margin: 0;
    padding: 30px;
}

.bio{
    width: 100%;
    text-align: left;
}

/* MOBILE DEVICE*/
@media(max-width 600px){
    .sidebar{
        width: 100%;
}
body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    word-spacing: 1.4px;
    color: var(--clr-brown);
    background-color: var(--clr-cream);
    min-height: 100vh;
    font-size: 20px;
}

body section {
    margin: 0;
    padding: 5px;
}
